body{
    color:rgb(229, 127, 255);
    background:rgb(255, 240, 240);
}
header{
   border-bottom: solid 2px;
   padding: 20px;
   font-size: 32px;
   color: blueviolet;
}
section{
    background: rgb(255, 127, 180);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.chamada-texto{
    margin-right: 5%; 
}
h1{ font: size 40px;

}
p{font-size: 20;
    
}
