body{
    color:rgb(127, 168, 255);
    background:rgb(255, 240, 240);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
   border-bottom: solid 2px;
   padding: 20px;
   font-size: 32px;
   color: blueviolet;
}
section{
    background: rgb(127, 178, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.chamada{
    background:rgb(0, 132, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%; 
}
h1{ font: size 40px;

}
p{font-size: 20;
    
}
img{
    height:200px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right:20px;
}
